.BusSchedule {
	padding: 30px;
	overflow: hidden;
	min-height: 500px;
	height: calc(100vh - 155px);
	overflow: hidden;
	background-color: rgb(24, 24, 24);
}
.BusSchedule__inner {
	overflow: auto;
}
.BusRow {
	display: flex;
	position: relative;
	background-color: rgb(40, 40, 40);
	padding: 10px;
	height: 35px;
	border-bottom: 1px solid #272727;
}
.BusRow:nth-child(even) {
	background-color: rgb(52, 52, 52);
}
.BusRow:last-child {
	border-bottom: 1px solid transparent;
}
.BusRow__left {
	color: #999;
	padding: 0;
	min-width: 160px;
	display: flex;
	justify-content: space-between;
	border-right: 1px solid #444;
}
.BusRow__left,
.BusRow__right {
	position: relative;
	display: flex;
	height: 100%;
	align-items: center;
}
.BusRow__time-window {
	text-align: right;
	font-size: 12px;
	margin-right: 12px;
}
.BusRow__trip {
	position: absolute;
	padding: 5px 0;
	font-size: 12px;
	color: white;
	cursor: pointer;
	text-align: center;
	display: inline-block;
	background-color: #696969;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.BusRow__trip:hover,
.BusRow__trip:active,
.BusRow__trip:focus {
	background-color: #818181;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}
.BusRow__trip.is-selected {
	background-color: #e3c328;
	color: #000;
	font-weight: 600;
}
.ScheduleTimeline {
	position: relative;
	bottom: 10px;
	display: block;
	width: 100%;
	height: 30px;
	margin-left: 171px;
}
.ScheduleTimeline__hour {
	position: absolute;
	display: inline-block;
	color: #999;
	bottom: 0;
	font-size: 12px;
}
.BusSchedule__error,
.BusSchedule__message {
	color: rgb(226, 226, 226);
	text-align: center;
}
